In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
ads = pd.read_csv("train_data_ads.csv")

In [4]:
feeds = pd.read_csv("train_data_feeds.csv")

In [5]:
ads = ads.drop_duplicates(subset='user_id', keep='first', inplace=False)
feeds = feeds.drop_duplicates(subset='u_userId', keep='first', inplace=False)

In [6]:
feeds.shape

(180123, 28)

In [7]:
ads.shape

(65297, 35)

In [8]:
feeds['user_id'] = feeds['u_userId']

In [9]:
feeds = feeds.drop('u_userId', axis = 1)

In [10]:
merged = pd.merge(ads, feeds, on = 'user_id', how = 'outer')

In [11]:
merged.head()

,log_id,label_x,user_id,age,gender,residence,city,city_rank,series_dev,series_group,...,e_ch,e_m,e_po,e_pl,e_rn,e_section,e_et,label_y,cillabel,pro
0,373250.0,0.0,100005,3.0,2.0,16.0,147.0,2.0,32.0,6.0,...,19,1123,13,2836,1,0,202206031527,-1,-1,0
1,101100.0,0.0,100006,5.0,2.0,13.0,191.0,4.0,32.0,6.0,...,19,998,6,835,1,1,202206031125,-1,-1,0
2,742637.0,0.0,100009,5.0,2.0,46.0,354.0,2.0,11.0,8.0,...,19,508,2,407,3,0,202206080528,-1,-1,0
3,744753.0,0.0,100010,3.0,4.0,33.0,319.0,3.0,31.0,3.0,...,11,1361,3,2383,3,0,202206032213,-1,-1,0
4,669191.0,0.0,100019,7.0,2.0,16.0,310.0,2.0,16.0,5.0,...,12,1319,5,2240,2,0,202206032128,-1,-1,0